{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="/build/app_bundled.js"></script>
{% endblock %}

{% block body %}
    <div id="test">test1</div>
    <div id="app"></div>
{% endblock %}
